<div class="center" style="min-height: calc(110vh - 325px)">
<div class="row" style="margin-top: 50px">
  <div class="col-1">
    <button class="button button5" (click)="visa()" class="btn"><img src="../assets/download.png" width="200"></button>
  </div>
  <div class="col-1" style="margin-left: 200px">
    <button class="button button5" (click)="master()" class="btn"><img src="../assets/download1.png" width="200"></button>
  </div>
  <div class="col-1" style="margin-left: 200px">
    <button class="button button5" (click)="amex()" class="btn"><img src="../assets/download2.png" width="200"></button>
  </div>
</div>
</div>

