<div class="row">
  <div id="navHeader" class="col-12">
    <div class="row" style="padding: 10px;">
      <div class="col-8" style="display: flex">
        <img src="../assets/logo.png" width="200">
        <div style="margin-top: 6px;text-align: center">
          <div
            style="font-weight: bold;font-size: 20px;margin-left: 20px;color: black">
            <div class="row">
              <div class="col-1" style="font-size:xxx-large">E </div>
              <div class="col-1" style="margin-top: 20px; margin-left:10px;font-size:x-large">-</div>
              <div class="col-1" style="margin-top: 25px"> Banking</div>
            </div>

          </div>
          <div
            style="font-weight: normal;margin-left: 20px;font-size: 20px;color: darkgoldenrod">
            Online Banking Portal
          </div>
        </div>
      </div>
<!--      <div class="col-4" style="display: flex;justify-content: flex-end">-->
<!--        <div style="margin-top: 14px">-->

<!--          <div class="alignLeft"-->
<!--               style="padding-right: 5px;padding-top: 5px;font-weight: bold;color: #794903;font-size: 16px">-->
<!--            a |-->
<!--          </div>-->
<!--          <div class="alignLeft" routerLink="/signup"-->

<!--               style="padding-right: 5px;padding-top: 5px;font-weight: bold;color: #794903;font-size: 16px">-->
<!--            Create Account |-->
<!--          </div>-->

<!--          <div class="alignLeft"-->

<!--               style="padding-top: 5px;padding-right: 10px;font-weight: bold;color: #794903;font-size: 16px;cursor: pointer">-->
<!--            Logout-->
<!--          </div>-->
<!--          <div class="alignLeft" style="margin-left: 10px">-->
<!--            &lt;!&ndash;<img src="../../assets/user.png" width="50">&ndash;&gt;-->
<!--          </div>-->

<!--        </div>-->
<!--      </div>-->
    </div>
  </div>
</div>
